[
  {
    "ParameterKey": "KeyName",
    "ParameterValue": ""
  },
  {
    "ParameterKey": "InstanceType",
    "ParameterValue": "t2.micro"
  },
  {
    "ParameterKey": "VPCId",
    "ParameterValue": ""
  },
  {
    "ParameterKey": "SubnetId",
    "ParameterValue": ""
  }
]

